
html {
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}
@media (min-width: 58em) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 115em) {
  body {
    font-size: 110%;
  }
}
@media (min-width: 125em) {
  body {
    font-size: 115%;
  }
}
@media (min-width: 145em) {
  body {
    font-size: 120%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    font-feature-settings: normal;
    /* Internet Explorer fix */
  }
}	
h1,h2,h3,h4,h5,h6,p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Cambo", "Times New Roman", serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a, p a {
  font-size: inherit;
  font-family: "Cambo", "Times New Roman", serif;
}
h1{
  font-size: 3em;
  line-height: 1.213483146em;
  font-weight: bold;
}

h2{
  font-size: 2.4em;
  line-height: 1.25;
  margin: 0.4em 0;
  font-weight: bold;
}

h3{
  font-size: 1.61em;
  line-height: 1.05em;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4{
  font-size: 1.3em;
  line-height: 1.714285714em;
}

h5 {
  font-size: 1.2em;
}

p {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  margin: 0 0 .75em;
}
p,
label,
.btn,
.form-control,
.title h5,
.navbar,
.brand,
.btn-simple,
a,
.td-name,
td,
small,
.media h5,
.subtitle {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cover{
	display: grid;
}
.navbar li{
	padding-right: 20px;
}
.carousel-item img{
	max-height: 900px;
}
.overlay {
	display: block;
	color:black;
	position:absolute;
	z-index:12;
	width:100%;
	text-align:center;
	height: 350px;
}
.overlay-content{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}
#About{
	background-color: #3E3E3D;
	padding: 50px;
	text-align: center;
}
#About h3{
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: white;
}

#About p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #C1C1C1;
    text-align: center;
}
.parallax2 {
  background-image: url(..//img/satblured.png);

  min-height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card img{
	max-width: 150px;
	max-height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.card h5{
	text-align: center;
	font: 20px "Lato", sans-serif;
    color: #D9D9D9;
}
.card p{
	color: #C1C1C1;
    text-align: justify;
}
.card{
	background-color: #3E3E3D;
}
.parallax {
  background-image: url(..//img/sat.png);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serareas{
	background-color: #3E3E3D;
	color: #C1C1C1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 10px;
	/*
  	justify-content: space-around;
  	align-items: center;*/
  	padding: 20px;
}
.listofareas{
	align-self: center;
	border: 5px solid #444444;
}
.listofareas ul {
  	list-style-type: circle;
  	line-height: 3;
}
.parallax3 {
  background-image: url(..//img/yellowsky.png);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-caption{
	bottom: 20%;
}
/*FOOTER************************************/
.footerdark{
	background-color: rgba(30, 30, 30, 0.97);
    color: #DDDDDD;
}
.container{
	padding-top:30px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footerdark .title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
.footerdark ul{
	list-style-type: none;
}
.footerdark hr{
	border-color: #444444;
}
.copyright{
	text-align: center;
}
.info{
	
}
.info a{
	text-decoration:none;
	color: grey;
}
.info a:hover{
	color: white;
}
.fa-facebook-square{
	color: #3b5998;
}
.fa-twitter{
	color: #00acee;
}
.fa-google-plus-square{
	color: #db4a39;
}
.gg a:hover{
	color: #db4a39;
}
.tw a:hover{
	color: #00acee;
}
.fb a:hover{
	color: #3b5998;
}
.copyright{
	color: grey;
	font-size: 0.8em;
	padding: 20px;	
}
.d-none {
    display: block!important;
}
@media (max-width: 600px){
	.carousel-caption h1, p{
		font-size: 0.8em;
	}
	.overlay-content h1{
		font-size: 2em;
	}
	.overlay{
		height:300px;
	}
}
@media (max-width: 500px){
	.overlay-content h1{
		font-size: 1.5em;
	}
	.overlay{
		height: 250px;
	}
	.btn{
		font-size: 0.8em;
	}
}

@media (max-width: 400px){
	.carousel-caption h1, p{
		font-size: 0.6em;
	}
	.overlay-content h1{
		font-size: 1em;
	}
	.overlay{
		height: 200px;
	}
	.btn{
		font-size: 0.6em;
	}
}
